@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFBrandingLogoTitleContainer {
    top: 15px;
    left: 20px;
    position: absolute;
    background-image: none; 
}

af|document {
  color: -tr-property-ref(".AFTextColor:alias","color");
  background-color: -tr-property-ref(".AFDecorativeColor:alias","color");  
  background-repeat: repeat;
  background-position: top left;
  background-size: 6px 6px;
  background-image: none; 
}

.AFBrandingBackgroundColor:alias {
  color: white;
}

/*  Anchor, hsl(0, 0%, 98%), #FAFAFA */
.AFDecorativeColor:alias {
  
    color: White; 
}

af|decorativeBox {
    
}

af|decorativeBox::center {
    }

af|decorativeBox::frame {
    border: 4px solid #A7C6ED; 
    }