@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";
.AFBackgroundColor:alias {
    color: #e8ffe8;
    }

af|column::data-cell {
    background-color: #fce5e3; 
}

