/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "/null";
@namespace dvt "/null";
/*af|table::data-row:highlighted af|column::data-cell,
af|table::data-row:highlighted af|column::banded-data-cell {
background-color: #99CCFF;
}*/
af|table::data-row:selected:focused af|column::data-cell, af|table::data-row:selected:focused af|column::banded-data-cell, af|table::data-row:selected:inactive af|column::data-cell, af|table::data-row:selected:inactive af|column::banded-data-cell, af|table::data-row:selected af|column::data-cell, af|table::data-row:selected af|column::banded-data-cell {
    background-color: #99CCFF;
}

af|column::banded-data-cell {
    text-align: start;
}

af|inputNumberSpinbox::decrement-cell, af|inputNumberSpinbox::increment-cell {
    display: none;
}

/*af|column::column-header-cell-content, af|query::criterion-label, af|panelLabelAndMessage::label, af|inputText::label, af|inputText:disabled::label, af|inputDate::label, af|inputDate:disabled::label, af|selectBooleanRadio::label, af|selectBooleanRadio:disabled::label, af|panelLabelAndMessage::label, af|panelFormLayout::label-cell, af|inputNumberSpinbox::label, af|selectOneRadio:disabled::label, af|selectOneRadio::label, af|panelFormLayout::label-cell, af|inputFile::label, af|inputFile:disabled::label {
    color: Black;
    font-weight: bold;
}
af|inputFile[theme="medium"] {
    color: Black;
}
af|panelFormLayout::label-stacked-cell {
    color: Black;
}

af|panelFormLayout::label-stacked-cell[theme="medium"] {
    color: Black;
}
af|panelFormLayout::label-cell[theme="medium"], af|panelLabelAndMessage::label[theme="medium"] {
    color: #000033;
}
*/





af|selectOneChoice:disabled::label[theme="medium"] {
    color: Black;
    font-weight: bold;
}

af|inputNumberSpinbox::spinbox-cell {
    width: 12px;
}

af|inputNumberSpinbox::content {
    width: 12px;
}



af|commandLink {
    text-decoration: underline;
    text-align: center;
    color: rgb(0, 68, 182);
    alignment-adjust: central;
}

af|table::data-row:hover af|column::data-cell {
    background: ActiveBorder;
}
/* change the -tr-padding-left-width and -tr-padding-right-width to 3px */
af|table {
    -tr-padding-left-width: 3;
    -tr-padding-right-width: 3;
}
/* a table cell (Header and data cell) includes this alias, so change the padding-left and padding-right to 3px to match the -tr-padding properties */
.AFTableCellPadding:alias {
    padding-left: 3px;
    padding-right: 3px;
}
/* data-cell and banded-data-cell include this alias as well as the .AFTableCellPadding:alias. .AFTableCellPadding:alias is also in the header cells. For the case when there is no vertical gridline, we need to add an extra pixel to the padding to compensate for no border. If we didn't do this, the header that has a border and the data cells that don not would not line up.*/
.AFTableCellData:alias {
    /* Use 1px more for padding to compensate for lack of borders in the data cells but their presence in the column headers*/
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 3px;
}
/* When we have a vertical line in the table cell, we don't need the extra pixel we put in .AFTableCellData:alias */
.AFTableCellDataVGrid:alias {
    padding-right: 3px;
}

.AFLabel:alias
{
  color: Black; 
  font-weight: bold; 
}
.AFLabelTextForeground:alias
{
  color: Black; 
  font-weight: bold; 
}
af|column::column-header-cell-content
{
  font-weight: bold; 
}
af|column::column-header-cell-content[theme="light"]
{
  font-weight: bold; 
}
af|column::column-header-cell-content[theme="medium"]
{
  font-weight: bold; 
}
af|column::column-header-cell-content[theme="dark"]
{
  font-weight: bold; 
}
af|panelBox::instruction-text
{
  color: Black; 
}
.AFLightestNeutralForeground:alias
{
  color: Black; 
}
.AFErrorTextForeground:alias
{
  color: Black; 
}
.AFTextForeground:alias
{
  color: Black; 
}
.AFVeryDarkForeground:alias
{
  color: Black; 
}
.AFDarkForeground:alias
{
  color: Black; 
}
.AFDarkBackground:alias
{
  background-color: Black; 
}
.AFLightNeutralForeground:alias
{
  color: Black; 
}


af|train-vertical::stop-content {
    margin-top: 0px;
    padding: 5px 10px 5px 10px;
}

af|train-vertical::stop {
    border-right: 1px #ffffff solid;
    padding-left: 0px;
    padding-right: 0px;
}

af|train-vertical::content {
    padding: 1px;
    font-size: 15px;    
    margin-left: 1px;
    margin-right: 5px;
}
af|train-vertical::join{
  height: 20px; 
  width: 1px; 
}

af|train::stop-content {
    margin-top: 0px;
    padding: 10px 5px 10px 5px;
}

af|train::stop {
    border-right: 1px #ffffff solid;
    padding-top: 0px;
    padding-bottom: 0px;
}

af|train::content {
    padding: 1px;
    font-size: 13px;    
    margin-top: 1px;
    margin-bottom: 5px;
}
af|train::join{
  height: 1px; 
  width: 60px; 
}

.AFDefaultFont:alias
{
  font-size: 12px; 
}

.PreWrap {
    white-space: -moz-pre-wrap;
    /* Mozilla */

    white-space: pre;
    /* CSS 2.0 */

    white-space: pre-wrap;
    /* CSS 2.1 */

    word-wrap: break-word;
    /* IE 5.5-7 */
}
.filterlink a:hover {text-decoration: none !important ; }
af|link.filterlink,
af|link.filterlink:hover,
 af|link.filterlink:active,
 af|link.filterlink:active:hover,
 af|link.filterlink:focus:hover,
 af|link.filterlink:focus:hover:active{
     display: inline-block;
    padding: 5px 10px;
    border-radius:20px;
    background: #4479BA;
    text-decoration: none;
    color:White !important;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin:2px ;
}


.filterlink a:hover {text-decoration: none; }
af|link.filterlink,
af|link.filterlink:hover,
 af|link.filterlink:active,
 af|link.filterlink:active:hover,
 af|link.filterlink:focus:hover,
 af|link.filterlink:focus:hover:active {
 
    display: inline-block;
    padding: 5px 10px;
    border-radius:20px;
    background: #4479BA;
    text-decoration: none;
    color:White;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin:2px ;
}


.tags ul
{
    margin: 0;
    padding: 0;
}

.tags ul li
{
    list-style-type: none;
    display: inline;
}

.tags li:not(:first-child):before {
    content: " | ";
}


af|selectBooleanCheckbox:inline-selected {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

.customFileUpload af|inputFile::multiple-upload-pane {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
}

.customFileUpload af|inputFile::multiple-upload-drag {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
}

.customFileUpload af|inputFile::multiple-upload-dropzone {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
    content: url(/images/drop_multiple_icon.png)!important;
}

.customFileUpload af|inputFile::multiple-upload-filename {
    width: 20em !important;
}

.pagination {
    display: inline-block;
}
.pagination af|link::text
{
    color: black;
    float: left;
    padding: 6px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 12px;
}
    
.selected af|link::text
{
    background-color: #4479BA;
    color: white;
    border: 1px solid #4479BA;
}

.disabled af|link::text {
    color: grey;
}
.pagination af|link::text:hover{background-color: #ddd;}

.checkbox af|selectBooleanCheckbox::content-input input[type=checkbox] {
        -webkit-appearance: none;
	/*background-color: #4479BA;*/
	border: 2px solid #4479BA;
	padding: 5px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
        
}


.checkbox af|selectBooleanCheckbox::content-input input[type=checkbox]:checked:after {
    background-color: #4479BA;
    	content: 'XX';
	font-size: 6px;
	position: absolute;
	top: 0.5px;
	left: 0px;
        margin:1px;
	color: #4479BA;
        border-radius: 0px;
}
.checkbox {
    padding: 0px;
}
 af|panelGridLayout.customShowdetail:hover{
}


af|link.customShowdetaillink{
    color: white;
}
.customShowdetail{
    background-color:#4479BA;
    color:white;
}
.customShowdetail:hover{
    background-color:#6993c7;
    color:black;
}
.comment-button {
    visibility: hidden;
}
af|listItem:hover.commentItem .comment-button{
    visibility: visible;
}

.reply-button {
    visibility: hidden;
}
af|listItem:hover.replyItem .reply-button{
    visibility: visible;
}