/*af|table::data-row:highlighted af|column::data-cell,
af|table::data-row:highlighted af|column::banded-data-cell {
background-color: #99CCFF;
}*/
af|table::data-row:selected:focused af|column::data-cell, af|table::data-row:selected:focused af|column::banded-data-cell, af|table::data-row:selected:inactive af|column::data-cell, af|table::data-row:selected:inactive af|column::banded-data-cell, af|table::data-row:selected af|column::data-cell, af|table::data-row:selected af|column::banded-data-cell {
    background-color: #99CCFF;
}

af|column::banded-data-cell {
    text-align: start;
}

af|inputNumberSpinbox::decrement-cell, af|inputNumberSpinbox::increment-cell {
    display: none;
}

af|column::column-header-cell-content, af|query::criterion-label, af|panelLabelAndMessage::label, af|inputText::label, af|inputText:disabled::label, af|inputDate::label, af|inputDate:disabled::label, af|selectBooleanRadio::label, af|selectBooleanRadio:disabled::label, af|panelLabelAndMessage::label, af|panelFormLayout::label-cell, af|inputNumberSpinbox::label, af|selectOneRadio:disabled::label, af|selectOneRadio::label, af|panelFormLayout::label-cell, af|inputFile::label, af|inputFile:disabled::label {
    color: Black;
    font-weight: bold;
}

af|panelFormLayout::label-cell[theme="medium"], af|panelLabelAndMessage::label[theme="medium"] {
    color: #000033;
}

af|inputFile[theme="medium"] {
    color: Black;
}

af|selectOneChoice:disabled::label[theme="medium"] {
    color: Black;
    font-weight: bold;
}

af|inputNumberSpinbox::spinbox-cell {
    width: 10px;
}

af|inputNumberSpinbox::content {
    width: 10px;
}

af|panelFormLayout::label-stacked-cell {
    color: Black;
}

af|panelFormLayout::label-stacked-cell[theme="medium"] {
    color: Black;
}

af|commandLink {
    text-decoration: underline;
    text-align: center;
    color: rgb(0, 68, 182);
    alignment-adjust: central;
}

af|table::data-row:hover af|column::data-cell {
    background: ActiveBorder;
}
/* change the -tr-padding-left-width and -tr-padding-right-width to 3px */
af|table {
    -tr-padding-left-width: 3;
    -tr-padding-right-width: 3;
}
/* a table cell (Header and data cell) includes this alias, so change the padding-left and padding-right to 3px to match the -tr-padding properties */
.AFTableCellPadding:alias {
    padding-left: 3px;
    padding-right: 3px;
}
/* data-cell and banded-data-cell include this alias as well as the .AFTableCellPadding:alias. .AFTableCellPadding:alias is also in the header cells. For the case when there is no vertical gridline, we need to add an extra pixel to the padding to compensate for no border. If we didn't do this, the header that has a border and the data cells that don not would not line up.*/
.AFTableCellData:alias {
    /* Use 1px more for padding to compensate for lack of borders in the data cells but their presence in the column headers*/

    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 3px;
}
/* When we have a vertical line in the table cell, we don't need the extra pixel we put in .AFTableCellData:alias */
.AFTableCellDataVGrid:alias {
    padding-right: 3px;
}

.AFLabelTextForeground:alias {
    color: Black;
    font-weight: bold;
}

.AFLabelTextForegroundDisabled:alias {
    color: Black;
}

.AFLabel:alias {
    font-weight: bold;
}

af|train-vertical::stop-content {
    margin-top: 0px;
    padding: 5px 10px 5px 10px;
}

af|train-vertical::stop {
    border-right: 1px #ffffff solid;
    padding-left: 0px;
    padding-right: 0px;
}

af|train-vertical::content {
    padding: 1px;
    font-size: 15px;
    font-family: Arial Narrow, Times New Roman, Georgia, Serif;
    margin-left: 1px;
    margin-right: 5px;
}