@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFBrandingBarTitle {
        font-size: large; 
    font-weight: bold; 
    padding-top: 0em; 
    color: Black; 
    }

.AFBrandingBarLogo {
    height: 27px; 
    background-image: url("../../images/USAID_logo.png"); 
    width: 194px; 
}

.AFBrandingBar {
    height: 37px; 
}

.AFDefaultFont:alias {
    font-size: 12px; 
}

.AFBrandingBarItem af|menu::bar-item-text {
    color: Black; 
}

.AFBrandingBackgroundColor:alias {
    color: transparent; 
}

.AFBrandingBarItem af|selectOneListbox::item:selected, .AFBrandingBarItem af|selectOneListbox::item:active, .AFBrandingBarItem af|selectOneChoice::item:highlighted, .AFBrandingBarItem af|selectManyListbox::item:highlighted, .AFBrandingBarItem af|selectOneChoice::item:selected, .AFBrandingBarItem af|selectManyChoice::item:highlighted {
    border-color: Black; 
}

.AFBrandingLinkColor:alias {
    color: Black; 
}

.AFBrandingBarItem af|menu::bar-item {
    border-color: Black; 
        }

af|selectOneListbox::item:selected[theme="dark"], af|selectOneListbox::item:active[theme="dark"], af|selectOneChoice::item:highlighted[theme="dark"], af|selectManyListbox::item:highlighted[theme="dark"], af|selectOneChoice::item:selected[theme="dark"], af|selectManyChoice::item:highlighted[theme="dark"] {
    border-color: Black; 
}
af|dialog {
    -tr-default-content-height : -1;
}
af|query.CustomQueryPanel::disclosure-icon-container {  display:none; height:0px; width:0px; }
af|query.CustomQueryPanel::disclosed-icon { display:none; } 
af|query.CustomQueryPanel::undisclosed-icon { display:none; }


.AFPanelBoxContentCoreDefault:alias {
    color: #333333; 
}
af|inputText::content
{
        font-size: 12px; 
}
.afPageLabel{
    font-size: 14px; 
    color: #336799; 
    font-weight: bold; 
    text-align: left; 
}
af|inputText::label {
    color: #755600; 
}

af|inputComboboxListOfValues::label {
    color: #755600; 
}

af|selectOneListbox::label {
    color: #755600; 
}

af|inputDate:required::label {
    color: #755600; 
}

af|inputDate::label {
    color: #755600; 
}

af|inputListOfValues::label {
    color: #755600; 
}

af|selectOneChoice::label {
    color: #755600;   
    }

af|query::criterion-label {
    color: #755600; 
}

af|panelLabelAndMessage::label {
    color: #755600; 
}

af|column::column-header-cell-content {
    color: #755600; 
}

af|table::data-row:selected:focused af|column::data-cell, af|table::data-row:selected:focused af|column::banded-data-cell, af|table::data-row:selected:inactive af|column::data-cell, af|table::data-row:selected:inactive af|column::banded-data-cell, af|table::data-row:selected af|column::data-cell, af|table::data-row:selected af|column::banded-data-cell {
     background-color: #B1D2F2; 
}
