@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.myCommonQueryStyle select {
    width: 140px;
}

.myCommonQueryStyle input {
    width: 120px !important
}

.myCommonQueryStyle label {
    color: #755600
}

.myLabelColor {
    color: #755600
}
/**  Action tab query styles**/
.myActionQueryStyle tr[_rowkey='0'] input {
    width: 60px !important;
}

.myActionQueryStyle tr[_rowkey='1'] select {
    width: 77px !important;
}

.myActionQueryStyle tr[_rowkey='2'] select {
    width: 77px !important;
}

.myActionQueryStyle tr[_rowkey='3'] input {
    width: 72px !important;
}

.myActionQueryStyle tr[_rowkey='4'] input {
    width: 72px !important;
}

.myActionQueryStyle tr[_rowkey='5'] input {
    width: 85px !important;
}

.myActionQueryStyle tr[_rowkey='6'] input {
    width: 75px !important;
}

.myActionQueryStyle tr[_rowkey='7'] input {
    width: 75px !important;
}

.myActionQueryStyle tr[_rowkey='8'] input {
    width: 63px !important;
}

.myActionQueryStyle tr[_rowkey='9'] input {
    width: 75px !important;
}

.myActionQueryStyle tr[_rowkey='10'] input {
    width: 75px !important;
}

.myActionQueryStyle tr[_rowkey='11'] input {
    width: 87px !important;
}

.myActionQueryStyle tr[_rowkey='12'] input {
    width: 60px !important;
}

.myActionQueryStyle tr[_rowkey='13'] input {
    width: 62px !important;
}

.myActionQueryStyle tr[_rowkey='14'] input {
    width: 60px !important;
}

.myActionQueryStyle tr[_rowkey='15'] input {
    width: 65px !important;
}

.myActionQueryStyle tr[_rowkey='16'] input {
    width: 65px !important;
}

.myActionQueryStyle tr[_rowkey='17'] input {
    width: 65px !important;
}

.myActionQueryStyle tr[_rowkey='18'] input {
    width: 62px !important;
}

.myActionQueryStyle tr[_rowkey='19'] input {
    width: 78px !important;
}

.myActionQueryStyle tr[_rowkey='20'] input {
    width: 78px !important;
}
.myActionQueryStyle tr[_rowkey='20'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='21'] input {
    width: 80px !important;
}

.myActionQueryStyle tr[_rowkey='22'] input {
    width: 80px !important;
}
.myActionQueryStyle tr[_rowkey='22'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='23'] input {
    width: 80px !important;
}
.myActionQueryStyle tr[_rowkey='23'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='24'] input {
    width: 80px !important;
}
.myActionQueryStyle tr[_rowkey='25'] input {
    width: 80px !important;
}
.myActionQueryStyle tr[_rowkey='25'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='24'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='26'] input {
    width: 80px !important;
}
.myActionQueryStyle tr[_rowkey='26'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='27'] input {
    width: 80px !important;
}
.myActionQueryStyle tr[_rowkey='27'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='28'] input {
    width: 80px !important;
}
.myActionQueryStyle tr[_rowkey='28'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='12'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='13'] select {
    width: 100px !important;
}
.myActionQueryStyle tr[_rowkey='14'] select {
    width: 100px !important;
}
/** end of Action Query styles **/
/**  Action tab query styles**/
af|query.myActionQuery2Style::title0 {
    width: 200px !important;
}

af|query.myActionQuery2Style::content-footer {
    float: left;
    width: 395px;
}

.myActionQuery2Style tr[_rowkey='0'] input {
    width: 60px !important;
}

.myActionQuery2Style tr[_rowkey='1'] select {
    width: 77px !important;
}

.myActionQuery2Style tr[_rowkey='2'] select {
    width: 77px !important;
}

.myActionQuery2Style tr[_rowkey='3'] input {
    width: 72px !important;
}

.myActionQuery2Style tr[_rowkey='4'] input {
    width: 72px !important;
}

.myActionQuery2Style tr[_rowkey='5'] input {
    width: 87px !important;
}

.myActionQuery2Style tr[_rowkey='6'] input {
    width: 75px !important;
}

.myActionQuery2Style tr[_rowkey='7'] input {
    width: 75px !important;
}

.myActionQuery2Style tr[_rowkey='8'] input {
    width: 75px !important;
}

.myActionQuery2Style tr[_rowkey='9'] input {
    width: 75px;
}

.myActionQuery2Style tr[_rowkey='10'] input {
    width: 75px !important;
}

.myActionQuery2Style tr[_rowkey='11'] input {
    width: 75px !important;
}

.myActionQuery2Style tr[_rowkey='12'] input {
    width: 100px !important;
}

.myActionQuery2Style tr[_rowkey='13'] input {
    width: 100px !important;
}

.myActionQuery2Style tr[_rowkey='14'] select {
    width: 110px !important;
}

.myActionQuery2Style tr[_rowkey='15'] select {
    width: 85px !important;
}

.myActionQuery2Style tr[_rowkey='16'] input {
    width: 65px !important;
}
.myActionQuery2Style tr[_rowkey='17'] input {
    width: 65px !important;
}

.myActionQuery2Style tr[_rowkey='18'] input {
    width: 95px !important;
}

.myActionQuery2Style tr[_rowkey='19'] input {
    width: 95px !important;
}

.myActionQuery2Style tr[_rowkey='20'] input {
    width: 95px !important;
}
.myActionQuery2Style tr[_rowkey='20'] select {
    width: 115px !important;
}

/**  Action tab query styles**/
/** Start of Award tab Search Query Styles **/
.myAwardQueryStyle tr[_rowkey='0'] input {
    width: 68px !important;
}

.myAwardQueryStyle tr[_rowkey='1'] select {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='2'] select {
    width: 75px !important;
}


.myAwardQueryStyle tr[_rowkey='3'] input {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='4'] input {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='5'] input {
    width: 87px !important;
}

.myAwardQueryStyle tr[_rowkey='6'] input {
    width: 87px !important;
}
.myAwardQueryStyle tr[_rowkey='7'] input {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='7'] select {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='8'] input {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='7'] select {
    width: 63px !important;
}

.myAwardQueryStyle tr[_rowkey='8'] input {
    width: 78px !important;
}

.myAwardQueryStyle tr[_rowkey='9'] input {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='10'] input {
    width: 75px !important;
}
.myAwardQueryStyle tr[_rowkey='10'] select {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='11'] input {
    width: 75px !important;
}

.myAwardQueryStyle tr[_rowkey='12'] input {
    width: 70px !important;
}

.myAwardQueryStyle tr[_rowkey='13'] input {
    width: 70px !important;
}

.myAwardQueryStyle tr[_rowkey='14'] input {
    width: 60px !important;
}

.myAwardQueryStyle tr[_rowkey='15'] input {
    width: 70px !important;
}

.myAwardQueryStyle tr[_rowkey='16'] input {
    width: 70px !important;
}

.x12h {
    max-height: none !important;
}
/** End of Award tab search query styles **/
/** Start of Document Tab Search Query Styles **/
.myDocumentQuerySyle tr[_rowkey='0'] select {
    width: 118px !important;
}

.myDocumentQuerySyle tr[_rowkey='1'] input {
    width: 95px;
}

.myDocumentQuerySyle tr[_rowkey='2'] select {
    width: 118px;
}

.myDocumentQuerySyle tr[_rowkey='6'] input {
    width: 110px !important;
}

.myDocumentQuerySyle tr[_rowkey='7'] input {
    width: 95px;
}

.myDocumentQuerySyle tr[_rowkey='8'] input {
    width: 110px !important;
}

.myDocumentQuerySyle tr[_rowkey='9'] input {
    width: 128px !important;
}

.myDocumentQuerySyle tr[_rowkey='10'] input {
    width: 116px;
}

.myDocumentQuerySyle tr[_rowkey='11'] input {
    width: 116px;
}

.myDocumentQuerySyle tr[_rowkey='11'] input {
    width: 116px;
}
/** End of document tab search query styles **/
/** Start of Project tab Search Query Styles **/
.myProjectQueryStyle tr[_rowkey='0'] select {
    width: 82px !important;
}

.myProjectQueryStyle tr[_rowkey='1'] input {
    width: 60px;
}

.myProjectQueryStyle tr[_rowkey='2'] input {
    width: 60px !important;
}

.myProjectQueryStyle tr[_rowkey='3'] input {
    width: 97px !important;
}

.myProjectQueryStyle tr[_rowkey='4'] input {
    width: 97px !important;
}

.myProjectQueryStyle tr[_rowkey='5'] input {
    width: 105px !important;
}

.myProjectQueryStyle tr[_rowkey='6'] input {
    width: 105px !important;
}

.myProjectQueryStyle tr[_rowkey='7'] input {
    width: 105px !important;
}

.myProjectQueryStyle tr[_rowkey='8'] input {
    width: 107px !important;
}

.myProjectQueryStyle tr[_rowkey='9'] input {
    width: 100px !important;
}

.myProjectQueryStyle tr[_rowkey='10'] input {
    width: 100px !important;
}

.myProjectQueryStyle tr[_rowkey='11'] input {
    width: 100px !important;
}
.myProjectQueryStyle tr[_rowkey='12'] input {
    width: 100px !important;
}
.myProjectQueryStyle tr[_rowkey='13'] input {
    width: 97px !important;
}
.myProjectQueryStyle tr[_rowkey='14'] select {
    width: 120px !important;
}
.myProjectQueryStyle tr[_rowkey='14'] input {
    width: 100px !important;
}
.myProjectQueryStyle tr[_rowkey='15'] select {
    width: 120px !important;
}
.myProjectQueryStyle tr[_rowkey='16'] input {
    width: 100px !important;
}
.myProjectQueryStyle tr[_rowkey='17'] input {
    width: 100px !important;
}
.myProjectQueryStyle tr[_rowkey='18'] input {
    width: 100px !important;
}

/** End of the Project tab search query styles **/
/** Start of Lookups Search Query Styles **/
.myLookupQueryStyle tr[_rowkey='0'] input {
    width: 100px !important;
}

.myLookupQueryStyle tr[_rowkey='0'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='1'] input {
    width: 100px !important;
}

.myLookupQueryStyle tr[_rowkey='1'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='2'] input {
    width: 100px !important;
}

.myLookupQueryStyle tr[_rowkey='2'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='3'] input {
    width: 100px !important;
}

.myLookupQueryStyle tr[_rowkey='3'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='4']  input {
    width: 100px !important;
}

.myLookupQueryStyle tr[_rowkey='4']  select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='5'] input {
    width: 100px !important;
}

.myLookupQueryStyle tr[_rowkey='5'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='6'] input {
    width: 100px !important;
}

.myLookupQueryStyle tr[_rowkey='6'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='7'] input {
    width: 100px !important;
}


.myLookupQueryStyle tr[_rowkey='7'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='8'] input {
    width: 100px !important;
}


.myLookupQueryStyle tr[_rowkey='8'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='9'] input {
    width: 100px !important;
}


.myLookupQueryStyle tr[_rowkey='9'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='10'] input {
    width: 100px !important;
}


.myLookupQueryStyle tr[_rowkey='10'] select {
    width: 105px !important;
}

.myLookupQueryStyle tr[_rowkey='11'] input {
    width: 100px !important;
}


.myLookupQueryStyle tr[_rowkey='11'] select {
    width: 105px !important;
}


af|query.myLookupQueryStyle::content-footer {
    float: left;
    width: 200px;
}
/** End of lookups search query styles **/
.myDocTypeStyle {
    text-decoration: underline;
    font-size: 13px;
    color: Navy;
}

af|query.myCommonQueryStyle::disclosure-icon-container {
    display: none;
    height: 0px;
    width: 0px;
}

af|query.myCommonQueryStyle::disclosed-icon {
    display: none;
}

af|query.myCommonQueryStyle::undisclosed-icon {
    display: none;
}
/* change the -tr-padding-left-width and -tr-padding-right-width to 3px */
af|table {
    -tr-padding-left-width: 3;
    -tr-padding-right-width: 3;
    }
/* a table cell (Header and data cell) includes this alias, so change the padding-left and padding-right to 3px to match the -tr-padding properties */
.AFTableCellPadding:alias {
    padding-left: 3px;
    padding-right: 3px;
}
/* data-cell and banded-data-cell include this alias as well as the .AFTableCellPadding:alias. .AFTableCellPadding:alias is also in the header cells. For the case when there is no vertical gridline, we need to add an extra pixel to the padding to compensate for no border. If we didn't do this, the header that has a border and the data cells that don not would not line up.*/
.AFTableCellData:alias {
    /* Use 1px more for padding to compensate for lack of borders in the data cells but their presence in the column headers*/

    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 3px;
}
/* When we have a vertical line in the table cell, we don't need the extra pixel we put in .AFTableCellData:alias */
.AFTableCellDataVGrid:alias {
    padding-right: 3px;
}

af|table.myTablePadding::data-row af|column::data-cell {
    padding-right: 4px;
    padding-bottom: 7px;
    padding-top: 8px;
    padding-left: 3px;
}

.customFileUpload af|inputFile::multiple-upload-pane {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
}

.customFileUpload af|inputFile::multiple-upload-drag {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
}

.customFileUpload af|inputFile::multiple-upload-dropzone {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
    content: url(/images/drop_multiple_icon.png)!important;
}

.customFileUpload af|inputFile::multiple-upload-filename {
    width: 20em !important;
}

af|query.myActionQueryStyle::title0 {
    width: 200px !important;
}

af|query.myActionQueryStyle::content-footer {
    float: left;
    width: 395px;
}

af|query.myAwardQueryStyle::content-footer {
    float: left;
    width: 510px;
}

af|query.myProjectQueryStyle::content-footer {
    float: left;
    width: 390px;
}

af|query.cableQueryStyle::content-footer {
    float: left;
    width: 510px;
}

.cableQueryStyle tr[_rowkey='4'] input {
    width: 145px !important;
}

.cableQueryStyle tr[_rowkey='1'] input {
    width: 120px !important;
}

.cableQueryStyle tr[_rowkey='2'] input {
    width: 120px !important;
}

af|query.myAwardQueryStyle::title0 {
    width: 200px !important;
}

af|query.myProjectQueryStyle::title0 {
    width: 200px !important;
}

af|query::title0 af|selectOneChoice::label {
    font-size: 14px;
    color: #336799;
    font-weight: bold;
}

af|query.disbursementStyle::title0 {
    width: 200px !important;
}

af|query.disbursementStyle::content-footer {
    float: left;
    width: 470px;
}

af|selectBooleanCheckbox::label {
    color: #755600;
}

af|selectOneRadio::label {
    color: #755600;
}

.myHeaderLabel {
    display: inline;
    margin: 0px;
    white-space: nowrap;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #003D5B;
}
.myHeaderLabel1 {
    display: inline;
    margin: 0px;
    white-space: nowrap;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: #003D5A;
}
.myHeaderLabel2 {
    display: inline;
    margin: 0px;
    white-space: nowrap;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: #003D5A;
}

af|query::disclosure-icon-container {
    background-image: none;
    display: none;
    height: 0px;
    width: 0px;
}

af|query::disclosed-icon {
    display: none;
}

af|query::undisclosed-icon {
    display: none;
}

af|dialog.withoutCloseIcon::close-icon-style {
    display: none;
}

af|navigationPane-list::link:selected {
    font-size: 14px;
}

af|dialog::header, af|dialog::footer, af|dialog::header-start, af|dialog::header-end, af|dialog::footer-start, af|dialog::footer-end {
    background-color: Silver;
}
/** Project Changes : Activity specific styles -- START **/
.activityEditSelectStyle select {
    width: 175px;
}

.activityEditInputStyle input {
    width: 175px !important;
}

.activityEditCtoInputStyle input {
    width: 168px !important;
}

.activityEditDdSelectStyle select {
    width: 200px !important;
}

.activityEditDdDdcInputStyle input {
    width: 196px !important;
}

.activityEditDdInputStyle input {
    width: 200px !important;
}

.activityEditFinanceInputStyle input {
    width: 196px !important;
}

af|inputListOfValues {
    -tr-stretch-search-dialog: true;
}

af|inputComboboxListOfValues {
    -tr-stretch-search-dialog: true;
}

af|inputListOfValues::dialog af|dialog::content-center, af|inputComboboxListOfValues::dialog af|dialog::content-center {
    min-width: 500px;
}

af|query[id*='afrLovInternalQueryId'] af|query::title3 af|button {
    display: none;
}

af|inputNumberSpinbox::content {
    border-right: 1px solid #DEE4E7;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

af|inputNumberSpinbox::label {
    color: #755600;
}

af|inputNumberSpinbox::decrement-cell {
    display: none;
}

af|inputNumberSpinbox::increment-cell {
    display: none;
}
/** Project Changes : Activity specific styles -- END **/
.dummyLink:hover {
    text-decoration: underline;
}

.addBudgetAvlAmt af|selectOneRadio::label {
    white-space: pre-wrap;
}

af|quickQuery::label {
    padding: 0px 0px 0px 0px;
}

af|quickQuery::value {
    tab-size: 5;
}

.newProjectQueryStyle tr[_rowkey='0'] input {
    width: 100px !important;
}

.newProjectQueryStyle tr[_rowkey='1'] input {
    width: 100px !important;
}

.newProjectQueryStyle tr[_rowkey='2'] input {
    width: 100px !important;
}

.newProjectQueryStyle tr[_rowkey='3'] select {
    width: 107px !important;
}

.newProjectQueryStyle tr[_rowkey='4'] select {
    width: 118px !important;
}
.newProjectQueryStyle tr[_rowkey='5'] select {
    width: 118px !important;
}
.newProjectQueryStyle tr[_rowkey='6'] input {
    width: 100px !important;
}
.newProjectQueryStyle tr[_rowkey='7'] input {
    width: 100px !important;
}

af|query.newProjectQueryStyle::content-footer {
    float: left;
    width: 200px;
}

.createActionPHeaderTypes af|panelHeader::title-text1{
    font-size: 12px;
}

.createActionHeaderPHeader af|panelHeader::title-text0{
    font-size: 13px;
}

.createActionPHeader af|panelHeader::title-text1{
    font-size: 12px;
    text-decoration: underline;
}
    


.createNewProject af|query::title-text0 {
    font-size: small;
}
/*http://rogersuen.blogspot.com/2014/10/adf-displaying-multi-line-text-with-outputext.html*/
.FixedWidthContainer {
    display: block;
    width: 600px;
}

.PreWrap {
    white-space: -moz-pre-wrap;
    /* Mozilla */

    white-space: pre;
    /* CSS 2.0 */

    white-space: pre-wrap;
    /* CSS 2.1 */

    word-wrap: break-word;
    /* IE 5.5-7 */
}

af|query.awardeeManagerQStyle::content-footer {
    float: left;
    width: 415px;
}
.awardeeManagerQStyle tr[_rowkey='0'] input {
    width:100px !important;
}

.awardeeManagerQStyle tr[_rowkey='1'] select {
    width:100px !important;
}

.awardeeManagerQStyle tr[_rowkey='2'] input {
    width:150px !important;
}

af|query.awardeeManagerQStyle:: title0 {
    display: none !important;
}


/**

Document - Type Manager start

**/

af|query.docTypeManagerQStyle::content-footer {
    float: left;
    width: 415px;
}
.docTypeManagerQStyle tr[_rowkey='0'] select {
    width:150px !important;
}

.docTypeManagerQStyle tr[_rowkey='1'] select {
    width:150px !important;
}

.docTypeManagerQStyle tr[_rowkey='2'] select {
    width:80px !important;
}

.docTypeManagerQStyle tr[_rowkey='3'] select {
    width:80px !important;
}

af|query.docTypeManagerQStyle:: title0 {
    display: none !important;
}

/**
Document Manager -- End
**/

/**

Edit Reports Lookup start

**/

af|query.editReportsLookupQStyle::content-footer {
    float: left;
    width: 325px;
}
.editReportsLookupQStyle tr[_rowkey='0'] input {
    width:100px !important;
}

.editReportsLookupQStyle tr[_rowkey='1'] select {
    width:105px !important;
}

.editReportsLookupQStyle tr[_rowkey='2'] input {
    width:150px !important;
}

.editReportsLookupQStyle tr[_rowkey='3'] input {
    width:150px !important;
}

.editReportsLookupQStyle tr[_rowkey='4'] input {
    width:150px !important;
}

.editReportsLookupQStyle tr[_rowkey='5'] input {
    width:140px !important;
}

.editReportsLookupQStyle tr[_rowkey='6'] select {
    width:105px !important;
}

.editReportsLookupQStyle tr[_rowkey='7'] select {
    width:105px !important;
}


af|query.editReportsLookupQStyle:: title0 {
    display: none !important;
}

/**
Edit Reports Lookup -- End
**/

/**

Project Lookup Query style  -- START

**/

af|query.projectLookupQStyle::content-footer {
    float: left;
    width: 415px;
}
.projectLookupQStyle tr[_rowkey='0'] input {
    width:92px !important;
}

.projectLookupQStyle tr[_rowkey='1'] input {
    width:92px !important;
}

.projectLookupQStyle tr[_rowkey='2'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='3'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='4'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='5'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='6'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='7'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='6'] input {
    width:95px !important;
}

.projectLookupQStyle tr[_rowkey='7'] input {
    width:95px !important;
}

.projectLookupQStyle tr[_rowkey='8'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='9'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='10'] select {
    width:100px !important;
}

.projectLookupQStyle tr[_rowkey='11'] select {
    width:100px !important;
}


af|query.projectLookupQStyle:: title0 {
    display: none !important;
}

/**
Project Lookup Query Style -- END
**/

.menulinksection{
    text-decoration: none;
    color:black;
}

.menulinksection:hover{
    text-decoration: underline;
    color:black;
}

.selectShuttleLiBorder af|selectManyShuttle::options li{
    border-style: solid;
    border-color: Gray;
    border-width: 1px;
}
.AFNoteWindowShortDesc{
 font-size: 12px !important;
 white-space:pre-wrap !important; 
}


af|panelList.MyPanelList li a{
    padding: 0px 0px 10px 0px;
    position: relative;
    display: block;

}
/** Budget Navigator query styles
    START **/
af|query.myBudgetQueryStyle::content-footer {
    float: left;
    width: 475px;
}

.myBudgetQueryStyle tr[_rowkey='0'] input{
    width:80px !important;
}
.myBudgetQueryStyle tr[_rowkey='1'] select{
    width:85px !important;
}
.myBudgetQueryStyle tr[_rowkey='2'] select{
    width:85px !important;
}
.myBudgetQueryStyle tr[_rowkey='3'] input{
    width:120px !important;
}
.myBudgetQueryStyle tr[_rowkey='4'] input{
    width:120px !important;
}
.myBudgetQueryStyle tr[_rowkey='5'] input{
    width:120px !important;
}
.myBudgetQueryStyle tr[_rowkey='6'] input{
    width:120px !important;
}
.myBudgetQueryStyle tr[_rowkey='7'] input{
    width:120px !important;
}
.myBudgetQueryStyle tr[_rowkey='8'] input{
    width:120px !important;
}
.myBudgetQueryStyle tr[_rowkey='9'] select{
    width:120px !important;
}

/** END **/

/** Funds Navigator query styles
    START **/
af|query.myFundsQueryStyle::content-footer {
    float: left;
    width: 480px;
}

.myFundsQueryStyle tr[_rowkey='0'] input{
    width:60px !important;
}
.myFundsQueryStyle tr[_rowkey='1'] select{
    width:67px !important;
}
.myFundsQueryStyle tr[_rowkey='2'] select{
    width:67px !important;
}

.myFundsQueryStyle tr[_rowkey='3'] input{
    width:120px !important;
}

.myFundsQueryStyle tr[_rowkey='4'] input{
    width:120px !important;
}

.myFundsQueryStyle tr[_rowkey='5'] input{
    width:120px !important;
}

.myFundsQueryStyle tr[_rowkey='6'] input{
    width:120px !important;
}

.myFundsQueryStyle tr[_rowkey='7'] input{
    width:120px !important;
}

.myFundsQueryStyle tr[_rowkey='8'] input{
    width:120px !important;
}

/** END **/


.fundNavgator-viewdetail-column-styles{
  background-color: #ffffff;
    color: #000000;
    text-align: center;  
}


.table-button{
 visibility: hidden;
}

af|table::data-row:highlighted .table-button,
af|table::data-row:selected .table-button{
 visibility: visible;
}

af|query.reconciliationQueryStyle::content-footer {
    float: left;
    width: 335px;
}

af|column.reconciliationColHeaderStyle::column-header-cell-content {
    font-weight: bold; 
}

.AFTableCellBandedBackground:alias {
    background-color: WindowText; 
}


.readOnlyColColorStyle{
    background-color: #CFCDC9; 
}
.columnhighlightColorStyle{
    background-color:#A7C6ED
}

/**
    ** Funds Lookup query styles
**/
af|query.fundLookupQueryStyle::content-footer {
    float: left;
    width: 398px;
}

.fundLookupQueryStyle tr[_rowkey='0'] input{
    width:60px !important;
}

.fundLookupQueryStyle tr[_rowkey='1'] input{
    width:80px !important;
}

.fundLookupQueryStyle tr[_rowkey='2'] input{
    width:80px !important;
}


/**
    ** Facts Link query styles
**/
af|query.factsLinkQueryStyle::content-footer {
    float: left;
    width: 398px;
}

.factsLinkQueryStyle tr[_rowkey='0'] select{
    width:150px !important;
}

.factsLinkQueryStyle tr[_rowkey='1'] select{
    width:150px !important;
}

.factsLinkQueryStyle tr[_rowkey='2'] select{
    width:150px !important;
}

.factsLinkQueryStyle tr[_rowkey='3'] select{
    width:150px !important;
}

/**
    End Facts Link Query styles
*/

af|panelAccordion.fundPanelAccordion::header-toolbar {
    background-color: White; 
}

af|panelAccordion.fundPanelAccordion::header-title {
    background-color: White; 
}

af|panelAccordion.fundPanelAccordion::header-disclose {
    background-color: White; 
}

af|panelAccordion.fundPanelAccordion::header {
    background-color: White; 
    padding: 0px 0px 0px 0px; 
}

af|panelAccordion.fundPanelAccordion::header-subsequent {
    background-color: White; 
    padding: 3px 0px 0px 0px; 
}

 ul.ulPadding li{margin-bottom:10px;}
 
 

.userManagerQueryStyle tr[_rowkey='0'] input {
    width: 120px !important;
}

.userManagerQueryStyle tr[_rowkey='1'] input {
    width: 120px !important;
}

.userManagerQueryStyle tr[_rowkey='2'] input {
    width: 120px !important;
}

.userManagerQueryStyle tr[_rowkey='3'] input {
    width: 120px !important;
}
.userManagerQueryStyle tr[_rowkey='4'] select {
    width: 85px !important;
}
.userManagerQueryStyle tr[_rowkey='5'] input {
    width: 60px !important;
}
.userManagerQueryStyle tr[_rowkey='6'] input {
    width: 60px !important;
}
.userManagerQueryStyle tr[_rowkey='7'] input {
    width: 60px !important;
}
.userManagerQueryStyle tr[_rowkey='8'] input {
    width: 60px !important;
}
.userManagerQueryStyle tr[_rowkey='9'] input {
    width: 60px !important;
}
.userManagerQueryStyle tr[_rowkey='10'] input {
    width: 60px !important;
}
.userManagerQueryStyle tr[_rowkey='11'] select {
    width: 83px !important;
}
af|query.userManagerQueryStyle::title0 {
    width: 200px !important;
}

af|query.userManagerQueryStyle::content-footer {
    float: left;
    width: 245px;
}

.filterlink a:hover {text-decoration: none !important ; }
af|link.filterlink,
af|link.filterlink:hover,
 af|link.filterlink:active,
 af|link.filterlink:active:hover,
 af|link.filterlink:focus:hover,
 af|link.filterlink:focus:hover:active{
     display: inline-block;
    padding: 5px 10px;
    border-radius:20px;
    background: #4479BA;
    text-decoration: none;
    color:White !important;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin:2px ;
}


.filterlink a:hover {text-decoration: none; }
af|link.filterlink,
af|link.filterlink:hover,
 af|link.filterlink:active,
 af|link.filterlink:active:hover,
 af|link.filterlink:focus:hover,
 af|link.filterlink:focus:hover:active {
 
    display: inline-block;
    padding: 5px 10px;
    border-radius:20px;
    background: #4479BA;
    text-decoration: none;
    color:White;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin:2px ;
}


.tags ul
{
    margin: 0;
    padding: 0;
}

.tags ul li
{
    list-style-type: none;
    display: inline;
}

.tags li:not(:first-child):before {
    content: " | ";
}


af|selectBooleanCheckbox:inline-selected {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

.customFileUpload af|inputFile::multiple-upload-pane {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
}

.customFileUpload af|inputFile::multiple-upload-drag {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
}

.customFileUpload af|inputFile::multiple-upload-dropzone {
    height: 200px !important;
    width: 1000px !important;
    background-color: #D2E1FF !important;
    content: url(/images/drop_multiple_icon.png)!important;
}

.customFileUpload af|inputFile::multiple-upload-filename {
    width: 20em !important;
}

.pagination {
    display: inline-block;
}
.pagination af|link::text
{
    color: black;
    float: left;
    padding: 6px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 12px;
}
    
.selected af|link::text
{
    background-color: #4479BA;
    color: white;
    border: 1px solid #4479BA;
}

.disabled af|link::text {
    color: grey;
}
.pagination af|link::text:hover{background-color: #ddd;}

.checkbox af|selectBooleanCheckbox::content-input input[type=checkbox] {
        -webkit-appearance: none;
	/*background-color: #4479BA;*/
	border: 2px solid #4479BA;
	padding: 5px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
        
}


.checkbox af|selectBooleanCheckbox::content-input input[type=checkbox]:checked:after {
    background-color: #4479BA;
    	content: 'XX';
	font-size: 6px;
	position: absolute;
	top: 0.5px;
	left: 0px;
        margin:1px;
	color: #4479BA;
        border-radius: 0px;
}
.checkbox {
    padding: 0px;
}
 af|panelGridLayout.customShowdetail:hover{
}


af|link.customShowdetaillink{
    color: white;
}
.customShowdetail{
    background-color:#4479BA;
    color:white;
}
.customShowdetail:hover{
    background-color:#6993c7;
    color:black;
}
.comment-button {
    visibility: hidden;
}
af|listItem:hover.commentItem .comment-button{
    visibility: visible;
}

.reply-button {
    visibility: hidden;
}
af|listItem:hover.replyItem .reply-button{
    visibility: visible;
}
.introp{
    width:600px;
    display:inline-block;
}
/**  Application tab query styles**/
.myAapplicationQueryStyle tr[_rowkey='0'] input {
      width: 120px !important;
}

.myAapplicationQueryStyle tr[_rowkey='1'] input {
     width: 105px !important;
}

.myAapplicationQueryStyle tr[_rowkey='2'] input {
     width: 105px !important;
}

.myAapplicationQueryStyle tr[_rowkey='3'] input {
     width: 105px !important;
}

.myAapplicationQueryStyle tr[_rowkey='4'] input {
   width: 120px !important;
}
.myAapplicationQueryStyle tr[_rowkey='5'] input {
     width: 132px !important;
}

.myAapplicationQueryStyle tr[_rowkey='5'] select {
     width: 140px !important;
}

.myAapplicationQueryStyle tr[_rowkey='6'] input {
     width: 132px !important;
}

.myAapplicationQueryStyle tr[_rowkey='7'] input {
      width: 132px !important;
}
.myAapplicationQueryStyle tr[_rowkey='8'] input {
      width: 98px !important;
}

.myAapplicationQueryStyle tr[_rowkey='9'] select {
      width: 118px !important;
}

.myAapplicationQueryStyle tr[_rowkey='8'] select {
      width: 118px !important;
}

.myAapplicationQueryStyle tr[_rowkey='10'] select {
      width: 118px !important;
}

.myAapplicationQueryStyle tr[_rowkey='11'] select {
      width: 118px !important;
}

.myAapplicationQueryStyle tr[_rowkey='12'] select {
      width: 118px !important;
}

.myAapplicationQueryStyle tr[_rowkey='13'] select {
      width: 118px !important;
}
.myAapplicationQueryStyle tr[_rowkey='14'] input {
      width: 111px !important;
}

af|query.myAapplicationQueryStyle::content-footer {
    float: left;
    width: 510px;
}

/**  Application tab query styles**/
.myPartnerApplQueryStyle tr[_rowkey='0'] input {
      width: 120px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='1'] input {
     width: 104px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='2'] input {
     width: 132px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='3'] input {
     width: 132px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='4'] input {
   width: 118px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='5'] input {
     width: 118px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='5'] select {
     width: 140px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='6'] input {
     width: 118px !important;
}

.myPartnerApplQueryStyle tr[_rowkey='7'] select {
      width: 118px !important;
}
.myPartnerApplQueryStyle tr[_rowkey='6'] select {
      width: 140px !important;
}

af|query.myPartnerApplQueryStyle::content-footer {
    float: left;
    width: 488px;
}

/** Create Action Project LOV Styles**/
.createActionProjectQueryStyle tr[_rowkey='0'] input {
      width: 100px !important;
}
.createActionProjectQueryStyle tr[_rowkey='1'] input {
      width: 100px !important;
}

.createActionProjectQueryStyle tr[_rowkey='2'] select {
      width: 100px !important;
}

.createActionProjectQueryStyle tr[_rowkey='3'] select {
      width: 100px !important;
}

.createActionProjectQueryStyle tr[_rowkey='4'] input {
      width: 115px !important;
}

.createActionProjectQueryStyle tr[_rowkey='5'] input {
      width: 115px !important;
}

af|query.createActionProjectQueryStyle::content-footer {
    float: left;
    width: 190px;
}

.contributionEditSelectStyle select {
    width: 175px;
}
/**  Contribution Navigator tab query styles**/
af|query.myContributionQueryStyle::content-footer {
    float: left;
    width: 490px;
}

af|query.myContributionQueryStyle::title0 {
    width: 200px !important;
}

.myContributionQueryStyle tr[_rowkey='0'] input {
    width: 60px !important;
}

.myContributionQueryStyle tr[_rowkey='1'] select {
    width: 80px !important;
}

.myContributionQueryStyle tr[_rowkey='2'] select {
    width: 80px !important;
}

.myContributionQueryStyle tr[_rowkey='3'] input {
    width: 93px !important;
}

.myContributionQueryStyle tr[_rowkey='4'] input {
    width: 93px !important;
}
.myContributionQueryStyle tr[_rowkey='5'] input {
    width: 104px !important;
}

.myContributionQueryStyle tr[_rowkey='6'] input {
    width: 120px !important;
}

.myContributionQueryStyle tr[_rowkey='7'] input {
    width: 120px !important;
}

.myContributionQueryStyle tr[_rowkey='8'] select {
    width: 127px !important;
}

.myContributionQueryStyle tr[_rowkey='9'] input {
    width: 110px !important;
}

.myContributionQueryStyle tr[_rowkey='10'] select {
    width: 130px !important;
}

.myContributionQueryStyle tr[_rowkey='11'] input {
    width: 125px !important;
}


af|train-vertical::stop-content {
    max-width: 150px;
}
